
//-- Copied from custom_ui.css

.ArrowButtonRoot
{
    vertical-align: top;
    horizontal-align: right;
    margin-right: 40px;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#ArrowToggleButton
{
    padding: 0px;
    width: 110px;
    height: 50px;
    vertical-align: bottom;
    horizontal-align: right;
    margin-bottom: -4px;
    margin-right: 116px;

    background-image: url("s2r://panorama/images/class_picker/pick.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#ArrowToggleButton:hover {
  brightness: 2;
}

#ArrowToggleIcon
{
    color: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), to( #686868 ) );
    font-size: 13px;
    font-family: Goudy Trajan Medium;
    font-weight: bold;
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
    text-shadow: 0px 0px 4px 4.0 #000000;
    margin-left: 5px;
}

.Hidden
{
    visibility: collapse;
    opacity: 0;
}


/*  ########### HELP ARROWS BELOW! ######### */

.ArrowRoot {
  width: 100%;
  height: 100%;
}

#Help_Arrows {
  width: 100%;
  height: 100%;
}

.Arrow_ToggleArrows {
  vertical-align: bottom;
  horizontal-align: right;
  x: -280px;
  y: -15px;
}

.Arrowtext_ToggleArrows {
  horizontal-align: right;
  vertical-align: bottom;
  x: -495px;
  y: -15px;
  color: gradient(linear, 0% 100%, 0% 0%, from(#f9f9f9), to(#939393));
  font-size: 24px;

  padding: 6px 20px;
  border: 3px solid #2eb82e;
  background-color: gradient(linear, 100% 100%, 0% 0%, from(#000000), to(#393939));
}

.Arrow_Crafting {
  x: 40px;
  y: 170px;
  flow-children: right;
}

.Arrowtext_Crafting {
  x: 385px;
  y: 145px;
  color: gradient(linear, 0% 100%, 0% 0%, from(#f9f9f9), to(#939393));
  font-size: 24px;

  padding: 6px 50px;
  border: 3px solid #2eb82e;
  background-color: gradient(linear, 100% 100%, 0% 0%, from(#000000), to(#393939));
}

.Arrow_Heat {
  horizontal-align: center;
  vertical-align: center;
  x: 56px;
  y: 250px;
  flow-children: down;
  margin-left: -40px;
}
.Arrowtext_Heat {
  horizontal-align: center;
  vertical-align: center;
  x: -100px;
  y: 170px;

  color: gradient(linear, 0% 100%, 0% 0%, from(#f9f9f9), to(#939393));
  font-size: 24px;

  padding: 6px 50px;
  border: 3px solid #2eb82e;
  background-color: gradient(linear, 0% 0%, 100% 0%, from(#000000), to(#393939));
}

.Arrow_Meat {
  horizontal-align: center;
  vertical-align: center;
  x: 95px;
  y: 250px;

  flow-children: down;
  margin-left: -30px;
}
.Arrowtext_Meat {
  horizontal-align: center;
  vertical-align: center;
  x: 184px;
  y: 170px;

  color: gradient(linear, 0% 100%, 0% 0%, from(#f9f9f9), to(#939393));
  font-size: 24px;

  padding: 6px 20px;
  border: 3px solid #2eb82e;
  background-color: gradient(linear, 100% 100%, 0% 0%, from(#000000), to(#393939));
}

.Arrow_Sleep {
  vertical-align: center;
  horizontal-align: right;
  x: -235px;
  y: 320px;

  flow-children: down;
}
.Arrowtext_Sleep {
  vertical-align: center;
  horizontal-align: right;
  x: -235px;
  y: 240px;

  color: gradient(linear, 0% 100%, 0% 0%, from(#f9f9f9), to(#939393));
  font-size: 24px;

  padding: 6px 30px;
  border: 3px solid #2eb82e;
  background-color: gradient(linear, 0% 0%, 100% 0%, from(#000000), to(#393939));
}

.Arrow_Eat {
  vertical-align: center;
  horizontal-align: right;
  x: -175px;
  y: 286px;

  flow-children: down;
}
.Arrowtext_Eat {
  vertical-align: center;
  horizontal-align: right;
  x: -175px;
  y: 175px;

  color: gradient(linear, 0% 100%, 0% 0%, from(#f9f9f9), to(#939393));
  font-size: 24px;

  padding: 6px 30px;
  border: 3px solid #2eb82e;
  background-color: gradient(linear, 0% 0%, 100% 0%, from(#000000), to(#393939));
}

.Arrow_DropMeat {
  vertical-align: center;
  horizontal-align: right;
  x: -120px;
  y: 245px;

  flow-children: down;
}
.Arrowtext_DropMeat {
  vertical-align: center;
  horizontal-align: right;
  x: -120px;
  y: 93px;

  color: gradient(linear, 0% 100%, 0% 0%, from(#f9f9f9), to(#939393));
  font-size: 24px;

  padding: 6px 20px;
  border: 3px solid #2eb82e;
  background-color: gradient(linear, 0% 0%, 100% 0%, from(#000000), to(#393939));
}


.Arrow_Panic {
  vertical-align: center;
  horizontal-align: right;
  x: 180px;
  y: 220px;

  flow-children: down;
}

.Arrowtext_Panic {
  vertical-align: center;
  horizontal-align: right;
  x: -65px;
  y: 14px;

  color: gradient(linear, 0% 100%, 0% 0%, from(#f9f9f9), to(#939393));
  font-size: 24px;

  padding: 6px 50px;
  border: 3px solid #2eb82e;
  background-color: gradient(linear, 0% 0%, 100% 0%, from(#000000), to(#393939));
}

.Arrow_Subclass {
  vertical-align: bottom;
  horizontal-align: right;
  x: -280px;
  y: -150px;
}
.Arrowtext_Subclass {
  vertical-align: bottom;
  horizontal-align: right;
  x: -473px;
  y: -150px;

  color: gradient(linear, 0% 100%, 0% 0%, from(#f9f9f9), to(#939393));
  font-size: 24px;

  padding: 6px 35px;
  border: 3px solid #2eb82e;
  background-color: gradient(linear, 100% 100%, 0% 0%, from(#000000), to(#393939));
}


.General_Info {
  vertical-align: center;
  horizontal-align: center;
  x: 124px;
  y: -38px;

  color: gradient(linear, 0% 100%, 0% 0%, from(#f9f9f9), to(#939393));
  font-size: 24px;

  padding: 6px 50px;
  border: 3px solid #2eb82e;
  background-color: gradient(linear, 100% 100%, 0% 0%, from(#000000), to(#393939));
}

.arrow_left {
  width: 550px;
  height: 20px;
  background-color: gradient(linear, 100% 100%, 0% 0%, from(#000000), to(#393939));
  border: 2px solid #2eb82e;
  border-left: 0;
  margin-left: 45px;
}

.arrow_down {
  width: 20px;
  height: 160px;
  background-color: gradient(linear, 100% 100%, 0% 0%, from(#000000), to(#393939));
  border: 2px solid #2eb82e;
  margin-bottom: 45px;
}

.arrow_down_sleep {
  width: 20px;
  height: 150px;
  background-color: gradient(linear, 100% 100%, 0% 0%, from(#000000), to(#393939));
  border: 2px solid #2eb82e;
  margin-bottom: 45px;
}
.arrow_down_eat {
  width: 20px;
  height: 220px;
  background-color: gradient(linear, 100% 100%, 0% 0%, from(#000000), to(#393939));
  border: 2px solid #2eb82e;
  margin-bottom: 45px;
}
.arrow_down_dropmeat {
  width: 20px;
  height: 300px;
  background-color: gradient(linear, 100% 100%, 0% 0%, from(#000000), to(#393939));
  border: 2px solid #2eb82e;
  margin-bottom: 45px;
}


.arrow_down_panic {
  width: 20px;
  height: 350px;
  background-color: gradient(linear, 100% 100%, 0% 0%, from(#000000), to(#393939));
  border: 2px solid #2eb82e;
  margin-bottom: 45px;
  margin-right: 245px;
}

.arrow_right {
  width: 400px;
  height: 20px;
  background-color: gradient(linear, 100% 100%, 0% 0%, from(#000000), to(#393939));
  border: 2px solid #2eb82e;
  margin-right: 25px;
}

.arrow_up {
  width: 20px;
  height: 160px;
  background-color: gradient(linear, 100% 100%, 0% 0%, from(#000000), to(#393939));
  border: 2px solid #2eb82e;
  margin-top: 48px;
}

.arrowhead_right {
  width: 1px;
  height: 1px;
  border-style: solid;
  border-width: 25px 50px 25px 0;
  border-color: transparent #2eb82e transparent transparent;
  z-index: 1;
}

.arrowhead_left {
  width: 1px;
  height: 1px;
  border-style: solid;
  border-width: 25px 0 25px 50px;
  border-color: transparent transparent transparent #2eb82e;
  margin-top: 10px;
  z-index: 1;
}

.arrowhead_down {
  width: 1px;
  height: 1px;
  border-style: solid;
  border-width: 0 25px 50px 25px;
  border-color: transparent transparent #2eb82e transparent;
  margin-left: 10px;
}

.arrowhead_up {
  width: 1px;
  height: 1px;
  border-style: solid;
  border-width: 50px 25px 0 25px;
  border-color: #2eb82e transparent transparent transparent;
  margin-left: 10px;
}

.arrowhead_right {
  width: 1px;
  height: 1px;
  border-style: solid;
  border-width: 25px 50px 25px 0;
  border-color: transparent #2eb82e transparent transparent;
  margin-top: 10px;
  margin-left: 448px;
  z-index: 1;
}

.hidden {
  opacity: 0;
  visibility: collapse;
}
