.PicksRoot
{
    width: 100%;
    height: 100%;
}

#PicksContainer
{
    width: 1380px;
    height: 864px;
    horizontal-align: center;
    margin-top: 20px;
}

#ClassListContainer
{
    width: 400px;
    margin-top: 165px;
    margin-left: 80px;
    flow-children: down;
}

#ClassImageContainer
{
    width: 400px;
    height: 415px;
    horizontal-align: center;
    margin-top: 158px;
}

.portrait
{
    width: 400px;
    height: 413px;
    opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#btn_hunter         { background-image: url('file://{images}/class_picker/hunter.png'); }
#btn_gatherer       { background-image: url('file://{images}/class_picker/gatherer.png'); }
#btn_scout          { background-image: url('file://{images}/class_picker/scout.png'); }
#btn_thief          { background-image: url('file://{images}/class_picker/thief.png'); }
#btn_priest         { background-image: url('file://{images}/class_picker/priest.png'); }
#btn_mage           { background-image: url('file://{images}/class_picker/mage.png'); }
#btn_beastmaster    { background-image: url('file://{images}/class_picker/beastmaster.png'); }

#AbilityTitle {
  font-size: 40px;
  color: #fff;
  font-family: Radiance;
}

#AbilityImageContainer {
  margin-top: 575px;
  margin-left: 500px;
  visibility: collapse;
}

.ability_bar {
  margin-top: 50px;
  flow-children: right;
  visibility: collapse;
}

#abilities_beastmaster > .ability_icon {
  border-color: #533f0c;
}

#abilities_hunter > .ability_icon {
  border-color: #9e1717;
}

#abilities_mage > .ability_icon {
  border-color: #1b3fbd;
}

#abilities_priest > .ability_icon {
  border-color: #9d27a3;
}

#abilities_scout > .ability_icon {
  border-color: #68cc4a;
}

#abilities_thief > .ability_icon {
  border-color: #1dbf7b;
}

#abilities_gatherer > .ability_icon {
  border-color: #1bbe0d;
}

.ability_hover {
  brightness: 2;
}

.ability_icon {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

#ClassDescription
{
    width: 400px;
    horizontal-align: right;
    margin-top: 150px;
    margin-right: 70px;

    padding: 30px 0px 0px 15px; /* Top Right Bottom Left.  Easiest way to remember is TRouBLe*/

    color: white;
    font-size: 20px;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;
}

#SelectButton
{
    horizontal-align: center;
    margin-top: 692px;
}

#SelectText
{
    horizontal-align: center;
    vertical-align: center;
    color: white;
    font-size: 45px;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;
}

.PlayerText
{
    horizontal-align: right;
    vertical-align: center;
    margin-right: 20px;
    margin-bottom: 10px;
    color: white;
    font-size: 25px;
    font-family: Goudy Trajan Medium;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;
}

#gathererPlayers
{
    flow-children: down;
    horizontal-align: right;
    vertical-align: center;
    margin-bottom: 10px;
    color: white;
    font-size: 20px;
    font-family: Goudy Trajan Medium;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;
}

.PlayerText2
{
    font-size: 20px;
    margin-right: 20px;
    margin-top: -5px;
}

#TopTitle
{
    horizontal-align: center;
    vertical-align: top;
    margin-top: 65px;
    color: white;
    font-size: 60px;
    font-family: Goudy Trajan Medium;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;
}

.hidden {
  visibility: collapse;
}
