@define TotalLength: 40s;
@define TimingFunc: linear;
@define IterationCount: 1;
@define AnimationDelay: 0s;

.AddonLoadingRoot
{
    width: 80%;
    height: 80%;
    background-color: black;
    overflow: clip;
}


#mega_bg
{
	horizontal-align: center;
	vertical-align: center;
}