//-- Copied from custom_ui.css

.HelpButtonRoot
{
    vertical-align: top;
    horizontal-align: left;
    margin-top: 90px;
    margin-left: -1px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#HelpToggleButton
{
    padding: 0px;
    width: 110px;
    height: 50px;
    vertical-align: bottom;
    horizontal-align: right;
    margin-bottom: -4px;
    margin-right: 45px;

    background-image: url("s2r://panorama/images/class_picker/pick.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#HelpToggleIcon
{
    color: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), to( #686868 ) );
    font-size: 13px;
    font-family: Goudy Trajan Medium;
    font-weight: bold;
    text-align: center;
    horizontal-align: center;
    vertical-align: center;
    text-shadow: 0px 0px 4px 4.0 #000000;
    margin-left: 5px;
}

#HelpToggleIcon:hover
{
    opacity: 1;
}

.Hidden
{
    visibility: collapse;
    opacity: 0;
}
