.Help_Root {
  width: 100%;
  height: 100%;
}

.Help_Wrapper {
  width: 60%;
  height: 50%;
  padding: 5%;
  align: center center;
  flow-children: down;

  background-image: url("s2r://panorama/images/help_menu/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Help_Header {
  width: 100%;
  height: 10%;
}

.Help_Title {
  font-size: 40px;
  font-family: Radiance;
  padding-left: 20px;
  text-align: left;
  color: #fff;
}

#Help_Tabs {
  width: 100%;
  margin-top: 10px;
  margin-bottom: -2px;
  flow-children: right;
}

.Help_Tab {
  text-align: center;
  vertical-align: center;
  font-size: 20px;
  padding: 10px;
  font-family: Radiance;
  color: #fff;
  margin-left: 10px;

  background-image: url("s2r://panorama/images/class_picker/pick.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Help_Tab.hover {
  brightness: 2;
}
.Help_Tab.active {
  background-image: url("s2r://panorama/images/class_picker/pick_hover.png");
}

.Help_Tab > Label {
  color: #fff;
}

#Help_Content {
  width: 100%;
  height: 80%;
  margin-right: 10px;
}

.Help_Tab_Content {
  width: 100%;
  height: 100%;
  flow-children: down;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: clip scroll;
}

.Help_Content_Header {
  text-decoration: underline;
  font-size: 26px;
  margin-bottom: 10px;
  font-family: Radiance;
  color: #fff;
}

.Help_Content_Text {
  font-size: 18px;
  font-family: Radiance;
  color: #fff;
  margin-bottom: 10px;
}

#Close_btn {
  align: right top;
  margin: 10px;

  width: 32px;
  height: 32px;

  background-image: url("s2r://panorama/images/crafting/close.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#Close_btn.hover {
  brightness: 2;
}

.hidden {
  opacity: 0;
  visibility: collapse;
}

.hide_menu {
  opacity: 0;
  visibility: collapse;
  transform: translateY(-200px);
}

.arrow {
  width: 100%;
  height: 20%;
  background-color: #3e3e3e;
}
