.Help_Root {
  width: 100%;
  height: 100%;
}

.Help_Wrapper {
  width: 60%;
  height: 50%;
  padding: 5%;
  margin-top: -100px;
  align: center center;
  flow-children: down;

  background-image: url("s2r://panorama/images/help_menu/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Help_Header {
  width: 100%;
  height: 10%;
}

.Help_Title {
  font-size: 40px;
  font-family: Radiance;
  padding-left: 20px;
  text-align: left;
  color: #fff;
}

#Help_Tabs {
  width: 100%;
  margin-top: 10px;
  margin-bottom: -2px;
  flow-children: right;
}

.Help_Tab {
  text-align: center;
  vertical-align: center;
  font-size: 20px;
  padding: 10px;
  font-family: Radiance;
  color: #fff;
  margin-left: 10px;

  background-image: url("s2r://panorama/images/class_picker/pick.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Help_Tab.hover {
  brightness: 2;
}
.Help_Tab.active {
  background-image: url("s2r://panorama/images/class_picker/pick_hover.png");
}

.Help_Tab > Label {
  color: #fff;
}

#Help_Content {
  width: 100%;
  height: 80%;
  margin-top: 10px;
  margin-right: 10px;
}

.Help_Tab_Content {
  width: 100%;
  height: 100%;
  flow-children: down;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: clip scroll;
}

.Help_Content_Header {
  text-decoration: underline;
  font-size: 26px;
  margin-bottom: 10px;
  font-family: Radiance;
  color: #fff;
}

.Help_Content_Text {
  font-size: 18px;
  font-family: Radiance;
  color: #fff;
  margin-bottom: 10px;
}

#Close_btn {
  align: right top;
  margin: 10px;

  width: 32px;
  height: 32px;

  background-image: url("s2r://panorama/images/crafting/close.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#Close_btn.hover {
  brightness: 2;
}

#Arrow_btn {
  align: right top;
  margin: 10px;
  margin-right: 50px;

  width: 32px;
  height: 32px;

  background-color: #393939;
  border: 2px solid #121212;
}
#Arrow_btn.hover {
  brightness: 2;
}
#Arrow_btn > Label {
  width: 100%;
  height: 100%;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: -4px;
}

.hidden {
  opacity: 0;
  visibility: collapse;
}

.hide_menu {
  opacity: 0;
  visibility: collapse;
  transform: translateY(-200px);
}


/*  ########### HELP ARROWS BELOW! ######### */

#Help_Arrows {
  width: 100%;
  height: 100%;
}

.Arrow_Crafting {
  x: 40px;
  y: 170px;
  flow-children: right;
}

.Arrowtext_Crafting {
  x: 200px;
  y: 145px;
  color: #fff;
}

.Arrow_Heat {
  x: 34.7%;
  y: 38%;
  flow-children: down;
}
.Arrowtext_Heat {
  x: 29.5%;
  y: 48%;
  text-align: right;
  color: #fff;
}

.Arrow_Meat {
  x: 37%;
  y: 38%;
  flow-children: down;
}
.Arrowtext_Meat {
  x: 38.5%;
  y: 52%;
  text-align: left;
  color: #fff;
}

.Arrow_Toolkit {
  x: 97%;
  y: 43%;
  flow-children: down;
}
.Arrowtext_Toolkit {
  x: 91%;
  y: 45%;
  text-align: right;
  color: #fff;
}

.Arrow_Subclass {
  width: 100%;
  height: 100%;
}
.Arrowtext_Subclass {
  x: 80%;
  y: 64%;
  color: #fff;
}


.arrow_left {
  width: 400px;
  height: 20px;
  background-color: #9e9e9e;
  margin-left: 45px;
}

.arrow_down {
  width: 20px;
  height: 400px;
  background-color: #9e9e9e;
  margin-bottom: 45px;
}

.arrow_downright {
  width: 400px;
  height: 20px;
  x: 77%;
  y: 78.6%;
  background-color: #9e9e9e;
  transform: rotateZ(45deg);
}

.arrowhead_left {
  width: 1px;
  height: 1px;
  border-style: solid;
  border-width: 25px 0 25px 50px;
  border-color: transparent transparent transparent #9e9e9e;
  margin-top: 10px;
}

.arrowhead_down {
  width: 1px;
  height: 1px;
  border-style: solid;
  border-width: 0 25px 50px 25px;
  border-color: transparent transparent #9e9e9e transparent;
  margin-left: 10px;
}

.arrowhead_downright {
  width: 1px;
  height: 1px;
  x: 96%;
  y: 89%;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #9e9e9e transparent transparent transparent;
  margin-top: 10px;
}
