
.QuestsRoot {
    width: 100%;
    height: 100%;
}

#QuestsMainPanel {
    horizontal-align: left;
    vertical-align: top;
    margin-top: 60px;
    margin-left: 70px;

    flow-children: down;
}

.Quest {
    width: 350px;
    margin: 20px 0px;
    padding-left: 40px;
}

.QuestContent {
    margin-top: 4px;
    flow-children: down;
}

.QuestIcon {
    border: 1.5px solid #000000;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    x: -40px;

    font-size: 20px;
    font-family: Radiance;
    color: gradient( linear, 0% 0%, 0% 100%, from( #C0C0C0  ), to( #686868  ) );
    text-align: center;

    background-color: gradient(radial, 0% 0%, 0% 0%, 100% 100%, from(#696969), to(#000000));
}

.QuestHeader {
    font-size: 18px;
    font-family: Radiance;
    color: #B0E0E6;

    text-shadow: 2px 2px 4px 3.0 #000000;

    margin-bottom: 5px;
}

.QuestDesc {
    font-size: 16px;
    font-family: Radiance;
    color: #B0E0E6;
	
	
    text-shadow: 2px 2px 5px 2.5 #000000;

    margin-top: 10px;
    margin-left: 0px;
}

.QuestProgressBarBg {
    margin-left: 0px;
    width: 200px;
    height: 20px;

    background-color: #103010;
    border: 1.5px solid black;
    border-radius: 10px;
}

.QuestProgressBar {
    width: 100px;
    height: 20px;

    background-image: url("s2r://panorama/images/quests/progress_bar_top.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
