.SubclassRoot
{
    width: 100%;
    height: 100%;	
	
	
}

.Hidden
{
    opacity: 0;
    visibility: collapse;
}

#TogglePicker
{
    width: 185px;
    height: 55px;
	horizontal-align: right;
	margin-right: 85px;
	margin-top: 765px;
	vertical-align: center;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #9a881f  ), to( #b4a32d  ) );
    border: 5px solid #b4a32d;
	box-shadow: #ffffff80 4px 4px 8px 0px; 
	box-shadow: fill #ffffff80 4px 4px 8px 0px; 
	box-shadow: inset #333333b0 0px 0px 8px 12px; 
    border-radius: 10px;
}

.Hover
{
    border: 2px;
    brightness: 1.5;
    //box-shadow: inset 1px 1px 50% gold;
}

.Locked
{
	opacity: 0;
}

.Unlocked
{
	opacity: 1;
	animation-name: sub_ready;
    animation-duration: 2s;
    animation-iteration-count: 50;
    animation-timing-function: linear;
}

@keyframes 'sub_ready' {
  0% {
    brightness: 1;
  }
  20% {
   brightness: 2;
  }
  50% {
    brightness: 3;
  }
  80% {
    brightness: 2;
  }
  100% {
    brightness: 1;
  }
}

#CloseButton
{
    width: 42px;
    height: 42px;
    horizontal-align: right;
    vertical-align: top; 
}

#SubclassPicker
{
    width: 950px;
    height: 680px;
    horizontal-align: center;
    margin-top: 100px;
    box-shadow: #ffffff80 0px 0px 60px 0px;
}

.SubclassesHolder
{
    flow-children: right;
}

#TopTitle
{
    horizontal-align: center;
    vertical-align: top;
    margin-top: 5px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #E0E0E0 ), to( #686868 ) );
    font-size: 30px;
    font-family: Goudy Trajan Medium;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;
}

.SubclassContainer
{
    width: 265px;
    height: 600px;
    margin-left: 32px;
    margin-top: 60px;
    margin-right: 17px;
    flow-children: down;
}

.SubclassTitle
{
    horizontal-align: center;
    margin-top: 20px;
    color: gradient( linear, 0% 0%, 0% 100%, from( #C0C0C0  ), to( #686868  ) );
    font-size: 18px;
    font-family: Goudy Trajan Medium;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 3px 3.0 #000000;
}

.SubclassImage
{
    width: 259px;
    height: 266px;
    margin-top: 22px;
}

.SubclassDesc
{
    margin-top: 10px;
    color: white;
    font-size: 14px;
    font-family: Ariel;
    font-weight: Thin;
    text-align: left;
    padding: 25px 20px 0px 5px;
    text-shadow: 0px 0px 3px 3.0 #000000;
}

.SubclassReadyTitle
{
    
	horizontal-align: right;
	margin-right: 95px;
	margin-top: 905px;
    color: gradient( linear, 0% 0%, 0% 100%, from( #edecea  ), to( #e5e4dc  ) );
    font-size: 18px;
    font-family: Goudy Trajan Medium;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 2px 2.5 #000000;
}